.btn {
    color: #fff;
    background-color: #6A8206;
    border: var(--bs-btn-border-width) solid #6A8206;
}

.btn:hover {    
    color: #fff;
    background-color: #8dad0b;
    border: var(--bs-btn-border-width) solid #8dad0b;
}
.btn:disabled{
    color: #fff;
    background-color: #bfc999;
    border: var(--bs-btn-border-width) solid #bfc999;
}
.react-datepicker__close-icon{
    right: -30px;
}

.react-datepicker__close-icon::after, .react-datepicker__day--selected{
    background-color: #6A8206;
}

.react-datepicker__close-icon:hover::after, .react-datepicker__day--selected:hover, .react-datepicker__day--keyboard-selected:hover{
    background-color: #8dad0b;
}

.react-datepicker__day--keyboard-selected{
    background-color: #bfc999;
}