.nav-pills .nav-link.active{
    color: #fff;
    background-color: #6A8206 !important;
}

.navbar .nav-pills .nav-link, .navbar  .navbar-brand{
    color: #6A8206;
}

.navbar .navbar-brand{
    font-size: 26px;
    font-weight: 700;
}